parameters:
	ignoreErrors:
		-
			message: '#^Cannot cast mixed to float\.$#'
			identifier: cast.double
			count: 1
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 12
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 3
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Method PHPeek\\LaravelQueueAutoscale\\Configuration\\AutoscaleConfiguration\:\:policyClasses\(\) should return array\<int, class\-string\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Configuration/AutoscaleConfiguration.php

		-
			message: '#^Cannot access offset ''max_pickup_time_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''max_workers'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''min_workers'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Cannot access offset ''scale_cooldown_seconds'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 2
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$maxPickupTimeSeconds of class PHPeek\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$maxWorkers of class PHPeek\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$minWorkers of class PHPeek\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Parameter \$scaleCooldownSeconds of class PHPeek\\LaravelQueueAutoscale\\Configuration\\QueueConfiguration constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: src/Configuration/QueueConfiguration.php

		-
			message: '#^Binary operation "/" between mixed and 1000\.0 results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/Manager/AutoscaleManager.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: src/Manager/AutoscaleManager.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Workers/WorkerTerminator.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Workers/WorkerTerminator.php
